body {
  background-color: rgb(233, 96, 96);
  font-family: Garamond, serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  background-color: rgb(80, 201, 152);
}
li ab {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: rgb(21, 174, 113);
  color: white;
}
li a:hover {
  background-color: #555;
  color: white;
}
dt {
  size: 30;
}
dd {
  size: 15;
}
